{{!new markdown document form}}
<div class="col-md-9">
	<div class="post-block post-leave-comment">
		<h3 class="heading-primary">New Document</h3>

		{{#if name}}
			<form id="documentForm" name="documentForm" accept-charset="UTF-8" method="POST" >
				<div class="row">
					<div class="form-group">
						<div class="col-md-12">
							<label>Title</label>
							<input type="text" value="" data-msg-required="Please enter the title." data-plugin-maxlength
								   maxlength="100" class="form-control" name="title" id="title" tabindex="1" required>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="form-group">
						<div class="col-md-12">
							<textarea data-plugin-markdown-editor rows="10" name="content" id="content" tabindex="2"></textarea>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="form-group">
						<div class="col-md-12">
							<label>Skill</label>
							<input type="text" name="skill" id="skill" data-role="tagsinput" data-tag-class="label label-primary"
								   class="form-control" value="" tabindex="3">
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<input type="submit" value="Post Document" class="btn btn-primary btn-lg mb-xlg"
							   data-loading-text="Loading...">
					</div>
				</div>
			</form>

			<form action="/attach" class="dropzone dz-square" id="dropzone-example"></form>
		{{/if}}

		{{#unless name}}
			<form id="documentForm" name="documentForm" accept-charset="UTF-8" method="POST">
				<div class="row">
					<div class="form-group">
						<div class="col-md-12">
							<label>Title</label>
							<input type="text" placeholder="Sign in first" data-msg-required="Please enter the title." data-plugin-maxlength
								   maxlength="100" class="form-control" name="title" id="title" tabindex="1" required disabled>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="form-group">
						<div class="col-md-12">
							<textarea data-plugin-markdown-editor rows="10" name="content" id="content" tabindex="2" disabled></textarea>
						</div>
					</div>
				</div>
			</form>
		{{/unless}}
	</div>
</div>
