{{!skills}}
<div class="col-md-3">
	<aside class="sidebar">
		<h4 class="heading-primary">Skills</h4>
		<ul class="nav nav-list mb-xlg">
			{{#each skills}}
				<li><a href="/skills/{{name}}">{{name}} ({{documentCount}})</a></li>
			{{/each}}
		</ul>
	</aside>
</div>
