{{# partial "content" }}
	<form id="documentForm" name="documentForm">
		<input type="text" id="content" name="content" />
		<input type="submit">
	</form>
{{/partial}}

{{# partial "page_script" }}
    <script type="text/javascript">
        $(document).ready(function() {
        });
    </script>
{{/partial}}

{{>layout}}



