<!DOCTYPE html>
<html lang="ko">
<head>
	{{> header}}
	{{#block "page-style" }}
	{{/block}}
</head>

<body>
{{#block "content" }}{{/block}}
</body>

{{> scripts}}
{{#block "page_script" }}{{/block}}
</html>
