{{# partial "content" }}
<div class="body">
	{{>part/menu}}

	<div role="main" class="main">
		<section class="page-header">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<ul class="breadcrumb">
							<li><a href="#">Home</a></li>
							<li class="active">Blog</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h1>Full Width</h1>
					</div>
				</div>
			</div>
		</section>

		<div class="container">
			<div class="row">
				{{>part/documentForm}}
				{{>part/skills}}

				<div class="col-md-9">
					<div class="blog-posts">
						{{>documents}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{/partial}}

{{>layout}}



